<div class="row">
  <div class="col-8">
    <div class="card shadow-sm mb-4">
      <div class="card-header text-center">{{ model.name }}</div>
      <div class="card-body">
        <div class="row">
          <label for="id" class="col-sm-2 col-form-label text-end mt-2 mb-2"
            >Id</label
          >
          <div class="col-4">
            <div class="col-sm-10 mt-2 mb-2">
              <input
                class="form-control shadow-sm"
                type="text"
                name="id"
                autocomplete="off"
                [(ngModel)]="model.id"
                placeholder="Id"
                disabled
              />
            </div>
          </div>

          <label for="name" class="col-sm-2 col-form-label text-end mt-2 mb-2"
            >Name</label
          >
          <div class="col-4">
            <div class="col-sm-10 mt-2 mb-2">
              <input
                class="form-control shadow-sm"
                type="text"
                name="name"
                autocomplete="off"
                [(ngModel)]="model.name"
                placeholder="Name"
                disabled
              />
            </div>
          </div>

          <label for="rating" class="col-sm-2 col-form-label text-end mt-2 mb-2"
            >Rating</label
          >
          <div class="col-4">
            <div class="col-sm-10 mt-2 mb-2">
              <input
                class="form-control shadow-sm"
                type="text"
                name="rating"
                autocomplete="off"
                [(ngModel)]="model.rating"
                placeholder="Rating"
                disabled
              />
            </div>
          </div>
          <label for="telephone" class="col-sm-2 col-form-label text-end mt-2 mb-2"
            >Telephone</label
          >
          <div class="col-4">
            <div class="col-sm-10 mt-2 mb-2">
              <input
                class="form-control shadow-sm"
                type="text"
                name="telephone"
                autocomplete="off"
                [(ngModel)]="model.telephone"
                placeholder="Telephone"
                disabled
              />
            </div>
          </div>
          <label for="webUrl" class="col-sm-2 col-form-label text-end mt-2 mb-2"
          >Website Url</label
        >
        <div class="col-4">
          <div class="col-sm-10 mt-2 mb-2">
            <input
              class="form-control shadow-sm"
              type="text"
              name="webUrl"
              autocomplete="off"
              [(ngModel)]="model.webUrl"
              placeholder="Website Url"
              disabled
            />
          </div>
        </div>
        <label for="email" class="col-sm-2 col-form-label text-end mt-2 mb-2"
          >Email</label
        >
        <div class="col-4">
          <div class="col-sm-10 mt-2 mb-2">
            <input
              class="form-control shadow-sm"
              type="text"
              name="email"
              autocomplete="off"
              [(ngModel)]="model.email"
              placeholder="Email"
              disabled
            />
          </div>
        </div>
        <label for="street" class="col-sm-2 col-form-label text-end mt-2 mb-2"
          >Street</label
        >
        <div class="col-4">
          <div class="col-sm-10 mt-2 mb-2">
            <input
              class="form-control shadow-sm"
              type="text"
              name="street"
              autocomplete="off"
              [(ngModel)]="model.calle"
              placeholder="Street"
              disabled
            />
          </div>
        </div>
        <label for="number" class="col-sm-2 col-form-label text-end mt-2 mb-2"
          >Number</label
        >
        <div class="col-4">
          <div class="col-sm-10 mt-2 mb-2">
            <input
              class="form-control shadow-sm"
              type="text"
              name="number"
              autocomplete="off"
              [(ngModel)]="model.numero"
              placeholder="Number"
              disabled
            />
          </div>
        </div>
        <label
          for="codigoPostal"
          class="col-sm-2 col-form-label text-end mt-2 mb-2"
          >Zip Code</label
        >
        <div class="col-4">
          <div class="col-sm-10 mt-2 mb-2">
            <input
              class="form-control shadow-sm"
              type="text"
              name="codigoPostal"
              autocomplete="off"
              [(ngModel)]="model.codigoPostal"
              placeholder="Zip Code"
              disabled
            />
          </div>
        </div>
        <label for="colonia" class="col-sm-2 col-form-label text-end mt-2 mb-2"
          >Neighborhood</label
        >
        <div class="col-4">
          <div class="col-sm-10 mt-2 mb-2">
            <input
              class="form-control shadow-sm"
              type="text"
              name="colonia"
              autocomplete="off"
              [(ngModel)]="model.colonia"
              placeholder="Neighborhood"
              disabled
            />
          </div>
        </div>
        <label
          for="municipio"
          class="col-sm-2 col-form-label text-end mt-2 mb-2"
          >City</label
        >
        <div class="col-4">
          <div class="col-sm-10 mt-2 mb-2">
            <input
              class="form-control shadow-sm"
              type="text"
              name="municipio"
              autocomplete="off"
              [(ngModel)]="model.municipio"
              placeholder="City"
              disabled
            />
          </div>
        </div>
        <label for="state" class="col-sm-2 col-form-label text-end mt-2 mb-2"
          >State</label
        >
        <div class="col-4">
          <div class="col-sm-10 mt-2 mb-2">
            <input
              class="form-control shadow-sm"
              type="text"
              name="state"
              autocomplete="off"
              [(ngModel)]="model.estado"
              placeholder="State"
              disabled
            />
          </div>
        </div>
        <label for="country" class="col-sm-2 col-form-label text-end mt-2 mb-2"
          >Country</label
        >
        <div class="col-4">
          <div class="col-sm-10 mt-2 mb-2">
            <input
              class="form-control shadow-sm"
              type="text"
              name="country"
              autocomplete="off"
              [(ngModel)]="model.pais"
              placeholder="Country"
              disabled
            />
          </div>
        </div>




        </div>
      </div>
      <div class="card-footer">
        <a routerLink="/Shops">
          <button class="btn btn-outline-secondary shadow-sm me-2">Back</button>
        </a>
        <a routerLink="/Shop/Edit/{{ model.id }}">
          <button class="btn btn-outline-info shadow-sm me-2">Edit</button>
        </a>
        <button
          class="btn btn-outline-danger shadow-sm me-2"
          (click)="borrar(model.id)"
        >
          Delete
        </button>
      </div>
    </div>

    <div class="card shadow-sm">
      <div class="card-header text-center">Services</div>
      <div class="card-body p-0">
        <table class="table table-striped table-hover mb-0">
          <thead>
            <tr class="text-center">
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Detail</th>
              <th scope="col">Price</th>
              <th class="text-end" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let servicio of servicios" class="text-center">
              <td class="text-center">{{ servicio.id }}</td>
              <td>{{ servicio.name }}</td>
              <td>{{ servicio.description }}</td>
              <td class="text-center">{{ servicio.price }} MXN</td>
              <td class="text-end">
                <div class="btn-group">
                  <a routerLink="/Event/New">
                    <button class="btn btn-outline-secondary shadow-sm me-2">
                      Hire
                    </button>
                  </a>
                  <a routerLink="/Shop/Services/{{ servicio.id }}">
                    <button class="btn btn-outline-info shadow-sm">Edit</button>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <a routerLink="/Service/New/{{ model.id }}">
          <button
            class="btn btn-outline-success shadow-sm me-2"
            (click)="agregar()"
          >
            Add Service
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="col-4 mb-4">
    <div class="card shadow-sm mb-3">
      <div class="card-header text-center">
        {{ model.name }}, {{ model.municipio }} {{ model.pais}}
      </div>
      <img src="{{ model.imageUrl }}" class="card-img-top" />
      <div class="card-footer">
        <input
          type="text"
          class="form-control shadow-sm"
          name="imageUrl"
          autocomplete="off"
          [(ngModel)]="model.imageUrl"
          placeholder="Image Url"
          disabled
        />
      </div>
    </div>

    <div class="card shadow-sm">
      <div class="card-header text-center">{{ model.name }}'s Reviews</div>
      <div class="card-body">
        <div class="card shadow-sm mb-3" *ngFor="let review of reviews">
          <div class="card-body p-4 pb-0">
            <h5 class="card-title text-center">{{ review.title }}</h5>
            <p class="card-text">{{ review.description }}</p>
            <p class="card-text text-center">{{ review.score }} out of 5</p>
            <p class="text-end">- {{ review.customer.name }}</p>
          </div>
        </div>
      </div>

      <div class="card-footer text-center">
        <a routerLink="/Review/New">
          <button class="btn btn-outline-success shadow-sm me-2">
            Leave a review
          </button>
        </a>
        <a routerLink="/Reviews/Edit">
          <button class="btn btn-outline-secondary shadow-sm me-2">
            Manage Reviews
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
