<div class="card shadow-sm">
  <div class="card-header text-center">Customers</div>
  <div class="card-body p-0">
    <table class="table table-striped table-hover mb-0">
      <thead>
        <tr class="text-center">
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Father's Last Name</th>
          <th scope="col">Mother's Last Name</th>
          <th scope="col">Age</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers" routerLink="/Customer/{{customer.id}}" style="cursor:pointer">
          <td class="text-center">{{ customer.id }}</td>
          <td class="text-center">{{ customer.name }}</td>
          <td class="text-center">{{ customer.apellidoPaterno }}</td>
          <td class="text-center">{{ customer.apellidoMaterno }}</td>
          <td class="text-center">{{ customer.edad }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <a routerLink="/Customer/New">
      <button class="btn btn-outline-success shadow-sm">Add a customer</button>
    </a>
  </div>
</div>
