<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="">busCar</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/Shops" routerLinkActive="active">Shops</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Cars" routerLinkActive="active">Vehicles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Events" routerLinkActive="active">Appointments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Customers" routerLinkActive="active">Customers</a>
      </li>
    </ul>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
      <input type="search" class="form-control form-control-light"
      placeholder="Search..."

      >
    </form>
  </div>
</nav>
